.formContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: black;
    background-color: aliceblue;
    
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .submitButton {
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  .container{
    background: linear-gradient(to bottom, #4285f4, #34a853);
    height: 100vh;
  }