.resultContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.h1 {
  font-size: 35px;
  color: #ddd;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.resultButton {
  background-color: #3498db;
  color: white;
  padding: 60px;
  height: 150px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  margin-top: 30px;
}

.resultButton:hover {
  background-color: #2980b9;
}

.result {
  background: linear-gradient(to right, #8e44ad, #4b0082);
  height: 100vh;
}

.header {
  background-color: #3498db; 
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoutContainer {
  margin-left: auto; /* This will push the logout button to the right */
}

.logoutButton {
  background-color: #e74c3c; 
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: right;
}
