.header {
  max-width: auto;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: brown;
  margin-bottom: 0px;
  border-radius: 15px;
}

.list {
  display: flex;
  gap: 15rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
